@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");

:root {
  --cyan-blue-color: #2c3e50;
  --white-color: #fff;
  --bright-cyan-color: #1abc9c;
  --not-so-black-color: #2C3E50;
}

* {
  /*inclui a borda e o padding no tamanho total do elemento*/
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

header {
  background-color: var(--cyan-blue-color);
  height: 100px;
  /*sempre vai ocupar toda largura do layout*/
  width: 100%;
  padding: 20px;
}

nav {
  width: 100%;
  max-width: 960px;
  /*esquema para a div centralizar em relação a div pai, ao invés de fica no canto, nesse caso o header, só funciona se tiver 
  especificado uma largura, como acima de 960px, 100% ajuda ocupa tudo com o limite da largura maxima, ai centraliza*/
  margin: 0 auto;
  border: 1px solid brown;
  display: flex;
  flex-direction: column;
  /*quando está invertido para coluna, usa esse para alinha no centro*/
  align-items: center;
}

nav a {
  color: var(--white-color);
  text-decoration: none;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 10px;
  font-size: 14px;
}

.nav-brand {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

#profile {
  background-color: var(--bright-cyan-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-color);
  padding: 65px 0;
}

#profile img {
  width: 150px;
  padding-bottom: 40px;
}

#profile h1 {
  margin: 0;
  font-size: 1.8rem;
}

#profile p {
  margin: 0;
  font-size: 1rem;
}

#portifolio {
  width: 100%;
  max-width: 960px;
  margin 0 auto;
}

#portifolio h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--not-so-black-color);
}

.portifolio-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portifolio-container img {
  /*vai manter a proporção da img ao aumentar e diminuir a tela, a altura acompanha
  width: 90%; */

  /*a img vai se manter proporcional e vai descontar 20px de cada lado de margem*/
  width: calc(100% - 40px);
  /*quando a img alcançar 420px, ela para de crescer*/
  max-width: 420px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
}